{% extends 'base.html' %}
{% block content %}
<div class="col-md-10 offset-md-1 ">
<div class="card  text-bg-secondary " style="width: 18rem;">
  <div class="card-header">
    <strong>{{ customer_record.first_name}} {{ customer_record.last_name}}</strong>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Email: </strong>{{customer_record.email}}</li>
    <li class="list-group-item"><strong>Email: </strong>{{customer_record.email}}</li>
     <li class="list-group-item"><strong>Phone: </strong>{{customer_record.phone}}</li>
     <li class="list-group-item"><strong>Address: </strong>{{customer_record.address}}</li>
     <li class="list-group-item"><strong>State: </strong>{{customer_record.state}}</li>
     <li class="list-group-item"><strong>City: </strong>{{customer_record.city}}</li>
     <li class="list-group-item"><strong>Zip Code: </strong>{{customer_record.zip_code}}</li>
     <li class="list-group-item"><strong>ID: </strong>{{customer_record.id}}</li>
  </ul>
</div>
  <br>
  <br>
<a href="{% url 'home' %}  " class='btn btn-secondary'>back</a>
  <a href="{% url 'delete' customer_record.id %} " class='btn btn-danger'>delete</a>
     <a href="{% url 'update' customer_record.id %} " class='btn btn-secondary'>update</a>
  </div>
{% endblock %}